main {
  margin: auto;
  padding-bottom: 20px;
}

.panel-administrador {
  display: none;
}

.cabecera-administrador {
  display: none;
}

.boton-hamburguesa {
  text-align: left;
  margin: 20px;
}

.boton-hamburguesa i {
  color: #83aeb8;
  font-size: 24px;
  padding: 5px;
}

.caja-crearProducto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icono-crear {
  margin: 20px 30px;
  font-size: 18px;
}

.icono-crear a {
  color: #71a2ae;
}

.agregar-producto {
  padding: 0px 20px;
}
.titulo {
  text-align: left;
  text-transform: uppercase;
  font-size: 20px;
  color: #6d6f74;
  margin: 20px 30px;
}

.subtitulo {
  text-align: left;
  margin: 10px 0px 15px 0px;
  font-size: 18px;
  color: #6d6f74;
}

.tarjeta {
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
}

.caja-tarjeta input,
.caja-tarjeta textarea,
.caja-tarjeta select {
  border: 1px solid #6d6f74b2;
  border-radius: 8px;
  padding: 8px 12px;
  margin: 5px 0px 20px;
  width: 100%;
}

.caja-tarjeta textarea,
.precio,
.caja-tarjeta select {
  margin-bottom: 10px;
}

.caja-tarjeta label {
  color: #71a2ae;
}
.boton-publicar {
  text-align: center;
}

.caja-informacion {
  background-color: #9fbfc8;
  color: white;
  font-size: 12px;
  text-align: left;
  padding: 10px;
  margin-top: 10px;
  max-width: 300px;
}

.tarjeta.checkbox label {
  padding-right: 10px;
}

.publicar {
  text-transform: uppercase;
  background-color: #9fbfc8;
  color: white;
  padding: 15px;
  border: none;
  width: 100%;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: background-color 0.5s;
  margin: 10px 0px;
  cursor: pointer;
}

.cancelar {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

.boton-cancelar {
  text-align: center;
  background-color: #6d6f74;
  border-radius: 5px;
  padding: 15px;
  transition: background-color 0.5s;
  cursor: pointer;
}

.boton-cancelar:hover {
  background-color: #2a2c25;
}

.publicar:hover {
  background-color: #71a2ae;
}

.check-producto {
  display: none;
}

.tarjeta-producto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  border: 1px solid #d6d6d6;
  margin: 10px;
  border-radius: 8px;
}

.caja-imagen {
  width: 34%;
}

.caja-imagen img {
  max-width: 100%;
}

.caja-descripcion {
  display: flex;
  flex-flow: column;
  margin: 0 5px;
}

.caja-descripcion .producto {
  margin: 0;
  font-size: 16px;
  padding: 5px;
}

.stock {
  display: flex;
  align-items: center;
  padding: 5px;
}

.total-stock {
  background-color: #9fbfc8;
  color: white;
  padding: 6px 12px;
  border-radius: 3px;
  margin-right: 5px;
}

.total-stock.cero {
  background-color: rgba(235, 119, 90, 0.733);
}

.caja-descripcion .precio {
  margin: 0;
  padding: 5px;
  font-size: 14px;
}

.caja-editar i {
  padding: 5px;
  color: #71a2ae;
  transition: color 0.5s;
  font-size: 16px;
}

.caja-editar i:hover {
  color: #2a2c25;
  cursor: pointer;
}

.caja-editar {
  display: flex;
}

.action-button.delete {
  background-color: white;
  border: none;
}

.box-detalleProducto {
  margin: 5px 30px 50px 30px;
  font-size: 16px;
}

.item-detalleProducto {
  padding: 5px 0px;
}

.form-botones {
  padding: 0px 20px;
}

@media (min-width: 768px) {
  main {
    display: flex;
    justify-content: flex-start;
  }
  .boton-hamburguesa {
    display: none;
  }

  .cabecera-administrador {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 30px;
    background-color: #9fbfc8;
  }

  .cabecera-administrador i {
    color: #d6d6d6;
    font-size: 16px;
    padding: 5px;
  }

  .cabecera-administrador i:hover {
    color: #9fbfc8;
    cursor: pointer;
  }

  .panel-abm {
    flex-grow: 1;
    padding: 0px 20px;
  }

  .icono-crear {
    display: none;
  }

  input.precio,
  .caja-tarjeta select {
    width: 30%;
  }

  .panel-administrador {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 5px;
    border: 1px solid #d6d6d6;
    border-top: none;
    border-bottom: none;
    color: #2a2c25;
  }

  .logo-panel img {
    width: 75%;
    margin: 15px 0px 30px 0px;
    padding: 0px 12px;
  }
  .titulo-panel {
    padding: 6px 22px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
  }

  .link-panel {
    display: flex;
    padding: 6px 12px;
    align-items: center;
    transition: color 0.5s;
  }

  .link-panel a {
    text-decoration: none;
    color: #2a2c25;
    transition: color 0.5s;
  }

  .link-panel a:hover {
    color: #9fbfc8;
    cursor: pointer;
  }

  .link-productos a {
    text-decoration: none;
    color: #2a2c25;
    transition: color 0.5s;
  }

  .link-panel i {
    padding: 10px;
    color: #2a2c25;
  }

  .link-panel:hover,
  .link-productos a:hover {
    color: #71a2ae;
    cursor: pointer;
  }

  .publicar {
    width: 50%;
  }

  .boton-cancelar {
    width: 50%;
    margin: auto;
  }

  .caja-imagen {
    width: 12%;
    margin: 0px 20px;
  }

  .caja-descripcion {
    flex-grow: 1;
    margin: 0px 10px;
  }

  .tarjeta-producto {
    width: 80%;
  }

  .check-producto {
    display: block;
    color: #6d6f74;
    font-size: 20px;
    padding: 20px;
  }

  .caja-editar {
    padding: 0px 20px;
  }
}

@media (min-width: 1280px) {
  .logo-panel img {
    width: 50%;
  }

  .tarjeta-producto {
    width: 60%;
  }
}
