<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/carritoProductos.css" />
    <link rel="stylesheet" href="/css/normalizador.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/indice.css" />
   


    <title>FAJUVI</title>
  </head>
  <body>
    <header>
      <div class="cabecera-promo">
        <p>10% off transferencia bancaria - 3 cuotas sin interés</p>
      </div>
      <div class="cabecera-principal">
        <i class="fas fa-bars"></i>
        <form action="#" class="caja-busqueda" method="GET">
          <input type="text" placeholder="Buscar..." />
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div class="cabecera-logo">
          <a href="/">
            <img src="img/Logo-Fajuvi.png" alt="Logo Fajuvi" />
          </a>
        </div>
        <div class="cabecera-items">
          <i class="fas fa-search"></i>
          <i class="fas fa-user"></i>
          <a class="escritorio" href="acceso">Iniciar Sesión</a>
          <a class="escritorio" href="registro">Registrarse</a>
          <a href="carritoProductos"><i class="fas fa-shopping-cart"></i></a>
        </div>
      </div>
      <nav>
        <div class="barra-nav">
          <a href="/" class="seleccionado">Inicio</a>
          <a href="#">Productos</a>
          <a href="#">Quiénes Somos</a>
          <a href="#">Contacto</a>
        </div>
      </nav>
    </header>


    <main class="carrito-main">
      <section class="posicion">
        <hr />
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><i class="fas fa-chevron-right"></i></li>
          <li><a href="/carritoProductos">Mi carrito</a></li>
        </ul>
      </section>
        <section>
          <h2 id="carrito_titulo"> Mi carrito</h2>   
          <article class="articulo"> 
               <div class="carrito_producto">
                    <div class="carrito_img">
                      <a href="/detalleProducto"><img  src="img/collar.jpg" /></a>
                    </div>                   
                    <div class="carrito_descripcion">
                        <h4>Collar Luna</h4>
                        <p >6 Cuotas sin interés de $833,33</p>
                    </div>
                    <div class="carrito_precio">
                      <h3>$5.000</h3>
                    </div>   
               </div>
               <div>
                <div class="contador">
                  <div class="sum-res"> <i class="fas fa-plus-circle"> </i></div>
                  <div class="contador-num">1</div>
                  <div class="sum-res"> <i class="fas fa-minus-circle"> </i></div>
                </div>
                <div class="btn_borrar_prod">
                  <i class="fas fa-trash-alt"></i>
                 </div> 
               </div>
              
          </article>

          <article class="articulo"> 
              <div class="carrito_producto">
                   <div class="carrito_img">
                    <a href="/detalleProducto"><img src="img/aro.jpg" /></a>
                   </div>                   
                   <div class="carrito_descripcion">
                       <h4>Aro Gota</h4>
                       <p >6 Cuotas sin interés de $425</p>
                   </div>
                   <div class="carrito_precio">
                     <h3>$2.550</h3>
                   </div>   
              </div>
              <div>
                <div class="contador">
                  <div class="sum-res"> <i class="fas fa-plus-circle"> </i></div>
                  <div class="contador-num">1</div>
                  <div class="sum-res"> <i class="fas fa-minus-circle"> </i></div>
                </div>
                <div class="btn_borrar_prod">
                  <i class="fas fa-trash-alt"></i>
                 </div> 
               </div> 
          </article>

          <article class="articulo"> 
            <div class="carrito_producto">
                 <div class="carrito_img">
                  <a href="/detalleProducto"><img src="img/pulsera.jpg"/></a>
                 </div>                   
                 <div class="carrito_descripcion">
                     <h4>Pulsera Calia</h4>
                     <p >6 Cuotas sin interés de $250</p>
                 </div>
                 <div class="carrito_precio">
                   <h3>$1.500</h3>
                 </div>   
            </div>
            <div>
              <div class="contador">
                <div class="sum-res"> <i class="fas fa-plus-circle"> </i></div>
                <div class="contador-num">1</div>
                <div class="sum-res"> <i class="fas fa-minus-circle"> </i></div>
              </div>
              <div class="btn_borrar_prod">
                <i class="fas fa-trash-alt"></i>
               </div> 
             </div> 
          </article>

          <article class="articulo"> 
          <div class="carrito_producto">
               <div class="carrito_img">
                <a href="/detalleProducto"><img src="img/cinto.jpg" /></a>
               </div>                   
               <div class="carrito_descripcion">
                   <h4>Cinto Black</h4>
                   <p >6 Cuotas sin interés de $666,67</p>
               </div>
               <div class="carrito_precio">
                 <h3>$4.000</h3>
               </div>   
          </div>
          <div>
            <div class="contador">
              <div class="sum-res"> <i class="fas fa-plus-circle"> </i></div>
              <div class="contador-num">1</div>
              <div class="sum-res"> <i class="fas fa-minus-circle"> </i></div>
            </div>
            <div class="btn_borrar_prod">
              <i class="fas fa-trash-alt"></i>
             </div> 
           </div>  
          </article>
        </section>
        <section>
          <div class="total">
            <h2>Total: $13.500 </h2>
          </div>
        </section>
        <section>
          <div class="envio">
            <input class="envio-barra" type="number" name="" placeholder="Tu codigo postal">
            <button class="btn-calcular">CALCULAR</button>
              <h4><i class="truck fas fa-truck "></i> Envio gratis superando los $6.000</h4>
          </div>
        </section>

        
    </main>
    <footer>
      <div class="info-footer">
        <div>
          <ul>
            <li class="fotter-titulo">Navegación</li>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Quiénes Somos</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="fotter-titulo">Redes Sociales</li>
            <li>
              <i class="fab fa-instagram"></i>
              @fajuvi
            </li>
            <li>
              <i class="fab fa-twitter"></i>
              @fajuviAccesorios
            </li>
            <li>
              <i class="fab fa-facebook"></i>
              Fajuvi Accesorios
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="fotter-titulo">Contactanos</li>
            <li>
              <i class="fas fa-mobile-alt"></i>
              +54 9 3517896573
            </li>
            <li>
              <i class="far fa-envelope-open"></i>
              consultas@fajuvi.com.ar
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i>
              Av. Rafael Nuñez 4001, Cba., Argentina
            </li>
          </ul>
        </div>
      </div>
      <div class="caja-copyright">
        <i class="far fa-copyright"></i>
        <p>COPYRIGHT FAJUVI - 2021. TODOS LOS DERECHOS RESERVADOS.</p>
      </div>
    </footer>
  </body>
</html>
