<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalizador.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/indice.css" />
    <link rel="stylesheet" href="/css/detalleProducto.css" />

    <title>FAJUVI</title>
  </head>
  <body>
    <header>
      <div class="cabecera-promo">
        <p>10% off transferencia bancaria - 3 cuotas sin interés</p>
      </div>
      <div class="cabecera-principal">
        <i class="fas fa-bars"></i>
        <form action="#" class="caja-busqueda" method="GET">
          <input type="text" placeholder="Buscar..." />
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div class="cabecera-logo">
          <a href="/">
            <img src="img/Logo-Fajuvi.png" alt="Logo Fajuvi" />
          </a>
        </div>
        <div class="cabecera-items">
          <i class="fas fa-search"></i>
          <i class="fas fa-user"></i>
          <a class="escritorio" href="acceso">Iniciar Sesión</a>
          <a class="escritorio" href="registro">Registrarse</a>
          <a href="carritoProductos"><i class="fas fa-shopping-cart"></i></a>
        </div>
      </div>
      <nav>
        <div class="barra-nav">
          <a href="/" class="seleccionado">Inicio</a>
          <a href="#">Productos</a>
          <a href="#">Quiénes Somos</a>
          <a href="#">Contacto</a>
        </div>
      </nav>
    </header>

    <main>
      <section class="posicion">
        <hr />
        <ul>
          <li><a href="indice.html">Inicio</a></li>
          <li><i class="fas fa-chevron-right"></i></li>
          <li><a href="/detalleProducto">Detalle de Producto</a></li>
        </ul>
      </section>
      <section class="detalle-producto-flex">
        <div class="fotos-producto">
          <img src="img/cintoA.jpg" alt="Cinto negro" />
          <div class="opciones-producto">
            <img src="img/cinto.jpg" alt="Cinto negro" />
            <img src="img/cintoB.jpg" alt="Cinto negro" />
            <img src="img/cintoC.jpg" alt="Cinto negro" />
          </div>
        </div>
        <div class="carrusel-circulo">
          <span class="circulo"></span>
          <span class="circulo"></span>
          <span class="circulo"></span>
        </div>
        <div class="info-producto">
          <h3 class="nombre-producto">Cinto Black</h3>
          <p class="dp-precio">$4.000</p>
          <p class="dp-cuotas">
            <i class="fas fa-credit-card"></i>
            3 cuotas sin interés de
            <strong>$666,67</strong>
          </p>
          <p class="dp-descuento">
            <i class="fas fa-money-bill"></i>
            <strong>10% de descuento</strong>
            pagando con Transferencia Bancaria
          </p>
          <a href="#" class="dp-mediosPago">Ver medios de pago</a>
          <hr class="linea" />
          <div class="box-select">
            <p>Medidas:</p>
            <select name="medidas">
              <option value="seleccione" selected>Seleccione una opción</option>
              <option value="85">80</option>
              <option value="90">90</option>
              <option value="85">95</option>
              <option value="90">100</option>
            </select>
          </div>
          <hr class="linea" />
          <button class="boton-agregar">Agregar al carrito</button>
          <div class="caja-cp">
            <p>Entregas para el CP: 5021</p>
            <button class="boton-cp">Cambiar CP</button>
          </div>
          <div>
            <div class="titulo-envio">
              <i class="fas fa-truck"></i>
              <p>Envío a domicilio</p>
            </div>
            <div class="detalle-envio">
              <p>
                Correo Argentino -Envío a domicilio. Llega el jueves 30/10
              </p>
              <p><strong>$400,00</strong></p>
            </div>
          </div>
          <div>
            <div class="titulo-envio">
              <i class="fas fa-store"></i>
              <p>Nuestro local</p>
            </div>
            <div class="detalle-envio">
              <p>
                Punto de Entrega - Rafael Nuñez 5000 Cba Capital. L a V de 9 a
                16hs.
              </p>
              <p><strong>Gratis</strong></p>
            </div>
          </div>
          <div class="compartir-redes">
            <p>Compartir:</p>
            <div>
              <i class="fab fa-whatsapp"></i>
              <i class="fab fa-pinterest"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-facebook"></i>
            </div>
          </div>
        </div>
      </section>
      <section class="informacion-producto">
        <div>Cinto Black</div>
        <p>
          Cinturón de cuero vacuno. Hebilla metálica en baño de plata.
          <br />
          <strong>Composición:</strong>
          100% cuero vacuno
        </p>
      </section>
      <hr />
      <section class="destacados">
        <h3 class="titulo-destacado">Productos Relacionados</h3>
        <section class="productos-destacados">
          <article>
            <a href="/detalleProducto"><img src="img/cinto4.jpg" /></a>
            <h4 class="producto">Cinto Sol</h4>
            <p class="precio">$5.000</p>
            <p class="cuotas">6 Cuotas sin interés de $833,33</p>
          </article>
          <article>
            <a href="/detalleProducto"><img src="img/cinto2.jpg" /></a>
            <h4 class="producto">Cinto Carmin</h4>
            <p class="precio">$4.500</p>
            <p class="cuotas">6 Cuotas sin interés de $750</p>
          </article>
          <article>
            <a href="/detalleProducto"><img src="img/cinto3.jpg" /></a>
            <h4 class="producto">Cinto Rubí</h4>
            <p class="precio">$2.550</p>
            <p class="cuotas">6 Cuotas sin interés de $425</p>
          </article>
          <article>
            <a href="/detalleProducto"><img src="img/cinto5.jpg" /></a>
            <h4 class="producto">Cinto Tachas</h4>
            <p class="precio">$2.550</p>
            <p class="cuotas">6 Cuotas sin interés de $425</p>
          </article>
        </section>
      </section>
    </main>
    <footer>
      <div class="info-footer">
        <div>
          <ul>
            <li class="fotter-titulo">Navegación</li>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Quiénes Somos</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="fotter-titulo">Redes Sociales</li>
            <li>
              <i class="fab fa-instagram"></i>
              @fajuvi
            </li>
            <li>
              <i class="fab fa-twitter"></i>
              @fajuviAccesorios
            </li>
            <li>
              <i class="fab fa-facebook"></i>
              Fajuvi Accesorios
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="fotter-titulo">Contactanos</li>
            <li>
              <i class="fas fa-mobile-alt"></i>
              +54 9 3517896573
            </li>
            <li>
              <i class="far fa-envelope-open"></i>
              consultas@fajuvi.com.ar
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i>
              Av. Rafael Nuñez 4001, Cba., Argentina
            </li>
          </ul>
        </div>
      </div>
      <div class="caja-copyright">
        <i class="far fa-copyright"></i>
        <p>COPYRIGHT FAJUVI - 2021. TODOS LOS DERECHOS RESERVADOS.</p>
      </div>
    </footer>
  </body>
</html>
