<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/index.css" />

    <title>FAJUVI</title>
  </head>
  <body>
    <header>
      <div class="cabecera-nav">
        <p>10% off transferencia bancaria - 3 cuotas sin interés</p>
      </div>
      <div class="menu">
        <i class="fas fa-bars"></i>
        <div class="button-search">
          <input type="text" placeholder="Buscar..." />
          <button><i class="fas fa-search"></i></button>
        </div>
        <div class="logo">
          <img src="img/Logo-Fajuvi.png" alt="Logo Fajuvi" />
        </div>
        <div class="menu-items">
          <i class="fas fa-search"></i>
          <i class="fas fa-user"></i>
          <a href="">Iniciar Sesión</a>
          <a href="">Registrarse</a>
          <i class="fas fa-shopping-cart"></i>
        </div>
      </div>
      <nav>
        <div class="nav-desktop">
          <a href="#" class="seleccionado">Inicio</a>
          <a href="#">Productos</a>
          <a href="#">Quiénes Somos</a>
          <a href="#">Contacto</a>
        </div>
      </nav>
    </header>

    <section class="carousel">
      <div class="carousel-img">
        <img src="img/collar1.jpg" alt="imagen de collar" />
      </div>
      <div class="carousel-arrows">
        <i class="arrow-right fas fa-chevron-right"><a href=""></a></i>
        <i class="arrow-left fas fa-chevron-left"><a href=""></a></i>
      </div>
    </section>
    <div class="carousel-circulo">
      <span class="circulo"></span>
      <span class="circulo"></span>
      <span class="circulo"></span>
    </div>
    <main>
      <h3 class="titulo-destacado">Productos destacados</h3>
      <section class="productos-destacados">
        <article>
          <img src="img/collar.jpg" />
          <h4 class="producto">Collar Luna</h4>
          <p class="precio">$5.000</p>
          <p class="cuotas">6 Cuotas sin interés de $833,33</p>
        </article>
        <article>
          <img src="img/collar3.jpg" />
          <h4 class="producto">Collar Perlas</h4>
          <p class="precio">$4.500</p>
          <p class="cuotas">6 Cuotas sin interés de $750</p>
        </article>
        <article>
          <img src="img/aro.jpg" />
          <h4 class="producto">Aro Gota</h4>
          <p class="precio">$2.550</p>
          <p class="cuotas">6 Cuotas sin interés de $425</p>
        </article>
        <article>
          <img src="img/pulsera.jpg" />
          <h4 class="producto">Pulsera Calia</h4>
          <p class="precio">$1.500</p>
          <p class="cuotas">6 Cuotas sin interés de $250</p>
        </article>
        <article>
          <img src="img/cinto.jpg" />
          <h4 class="producto">Cinto Black</h4>
          <p class="precio">$4.000</p>
          <p class="cuotas">6 Cuotas sin interés de $666,67</p>
        </article>
        <article>
          <img src="img/aro2.jpg" />
          <h4 class="producto">Aro Florencia</h4>
          <p class="precio">$3.660</p>
          <p class="cuotas">6 Cuotas sin interés de $610</p>
        </article>
        <article>
          <img src="img/anillo.jpg" />
          <h4 class="producto">Anillo Mia</h4>
          <p class="precio">$4.800</p>
          <p class="cuotas">6 Cuotas sin interés de $800</p>
        </article>
        <article>
          <img src="img/aro3.jpg" />
          <h4 class="producto">Aro Col</h4>
          <p class="precio">$2750</p>
          <p class="cuotas">6 Cuotas sin interés de $458,33</p>
        </article>
        <article>
          <img src="img/pulsera2.jpg" />
          <h4 class="producto">Pulsera Esclava</h4>
          <p class="precio">$3.060</p>
          <p class="cuotas">6 Cuotas sin interés de $510</p>
        </article>
        <article>
          <img src="img/collar4.png" />
          <h4 class="producto">Cadena Luz</h4>
          <p class="precio">$2.040</p>
          <p class="cuotas">6 Cuotas sin interés de $340</p>
        </article>
      </section>
      <div class="button-more-product">
        <button class="button-more">Ver todos los productos</button>
      </div>
    </main>
    <footer>
      <div class="info-footer">
        <div>
          <ul>
            <li class="footer-tittle">Navegación</li>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Quiénes Somos</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="footer-tittle">Redes Sociales</li>
            <li>
              <i class="fab fa-instagram"></i>
              @fajuvi
            </li>
            <li>
              <i class="fab fa-twitter"></i>
              @fajuviAccesorios
            </li>
            <li>
              <i class="fab fa-facebook"></i>
              Fajuvi Accesorios
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="footer-tittle">Contactanos</li>
            <li>
              <i class="fas fa-mobile-alt"></i>
              +54 9 3517896573
            </li>
            <li>
              <i class="far fa-envelope-open"></i>
              consultas@fajuvi.com.ar
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i>
              Av. Rafael Nuñez 4001, Cba., Argentina
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        <i class="far fa-copyright"></i>
        <p>COPYRIGHT FAJUVI - 2021. TODOS LOS DERECHOS RESERVADOS.</p>
      </div>
    </footer>
  </body>
</html>
