<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalizador.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/indice.css" />

    <title>FAJUVI</title>
  </head>
  <body>
      <header>
        <div class="cabecera-promo">
          <p>10% off transferencia bancaria - 3 cuotas sin interés</p>
        </div>
        <div class="cabecera-principal">
          <i class="fas fa-bars"></i>
          <form action="#" class="caja-busqueda" method="GET">
            <input type="text" placeholder="Buscar..." />
            <button type="submit"><i class="fas fa-search"></i></button>
          </form>
          <div class="cabecera-logo">
            <a href="/indice">
              <img src="img/Logo-Fajuvi.png" alt="Logo Fajuvi" />
            </a>
          </div>
          <div class="cabecera-items">
            <i class="fas fa-search"></i>
            <i class="fas fa-user"></i>
            <a class="escritorio" href="acceso">Iniciar Sesión</a>
            <a class="escritorio" href="registro">Registrarse</a>
            <a href="carritoProductos"><i class="fas fa-shopping-cart"></i></a>
          </div>
        </div>
        <nav>
          <div class="barra-nav">
            <a href="/indice" class="seleccionado">Inicio</a>
            <a href="#">Productos</a>
            <a href="#">Quiénes Somos</a>
            <a href="#">Contacto</a>
          </div>
        </nav>
      </header>

    <section class="carrusel">
      <div class="carrusel-img">
        <img src="img/collar1.jpg" alt="imagen de collar" />
      </div>
      <div class="carrusel-flechas">
        <i class="arrow-right fas fa-chevron-right"><a href=""></a></i>
        <i class="arrow-left fas fa-chevron-left"><a href=""></a></i>
      </div>
    </section>
    <div class="carrusel-circulo">
      <span class="circulo"></span>
      <span class="circulo"></span>
      <span class="circulo"></span>
    </div>
    <main>
      <h3 class="titulo-destacado">Productos destacados</h3>
      <section class="productos-destacados">
        <article>
          <a href="/detalleProducto">
            <img src="img/collar.jpg" alt="imagen de collar" />
          </a>
          <h4 class="producto">Collar Luna</h4>
          <p class="precio">$5.000</p>
          <p class="cuotas">6 Cuotas sin interés de $833,33</p>
        </article>
        <article>
          <a href="/detalleProducto">
            <img src="img/collar3.jpg" alt="imagen de collar" />
          </a>
          <h4 class="producto">Collar Perlas</h4>
          <p class="precio">$4.500</p>
          <p class="cuotas">6 Cuotas sin interés de $750</p>
        </article>
        <article>
          <a href="/detalleProducto">
            <img src="img/aro.jpg" alt="imagen de Aro" />
          </a>
          <h4 class="producto">Aro Gota</h4>
          <p class="precio">$2.550</p>
          <p class="cuotas">6 Cuotas sin interés de $425</p>
        </article>
        <article>
          <a href="/detalleProducto">
            <img src="img/pulsera.jpg" alt="imagen de pulsera" />
          </a>
          <h4 class="producto">Pulsera Calia</h4>
          <p class="precio">$1.500</p>
          <p class="cuotas">6 Cuotas sin interés de $250</p>
        </article>
        <article>
          <a href="/detalleProducto">
            <img src="img/cinto.jpg" alt="imagen de cinto" />
          </a>
          <h4 class="producto">Cinto Black</h4>
          <p class="precio">$4.000</p>
          <p class="cuotas">6 Cuotas sin interés de $666,67</p>
        </article>
        <article>
          <a href="/detalleProducto">
            <img src="img/aro2.jpg" alt="imagen de aros" />
          </a>
          <h4 class="producto">Aro Florencia</h4>
          <p class="precio">$3.660</p>
          <p class="cuotas">6 Cuotas sin interés de $610</p>
        </article>
        <article>
          <a href="/detalleProducto">
            <img src="img/anillo.jpg" alt="imagen de anillo" />
          </a>
          <h4 class="producto">Anillo Mia</h4>
          <p class="precio">$4.800</p>
          <p class="cuotas">6 Cuotas sin interés de $800</p>
        </article>
        <article>
          <a href="/detalleProducto">
            <img src="img/aro3.jpg" alt="imagen de aros" />
          </a>
          <h4 class="producto">Aro Col</h4>
          <p class="precio">$2750</p>
          <p class="cuotas">6 Cuotas sin interés de $458,33</p>
        </article>
        <article>
          <a href="/detalleProducto">
            <img src="img/pulsera2.jpg" alt="imagen de pulsera" />
          </a>
          <h4 class="producto">Pulsera Esclava</h4>
          <p class="precio">$3.060</p>
          <p class="cuotas">6 Cuotas sin interés de $510</p>
        </article>
        <article>
          <a href="/detalleProducto">
            <img src="img/collar4.png" alt="imagen de collar" />
          </a>
          <h4 class="producto">Cadena Luz</h4>
          <p class="precio">$2.040</p>
          <p class="cuotas">6 Cuotas sin interés de $340</p>
        </article>
      </section>
      <div class="boton-mas-productos">
        <button class="boton-ver-mas">Ver todos los productos</button>
      </div>
    </main>

    <footer>
      <div class="info-footer">
        <div>
          <ul>
            <li class="fotter-titulo">Navegación</li>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Quiénes Somos</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="fotter-titulo">Redes Sociales</li>
            <li>
              <i class="fab fa-instagram"></i>
              @fajuvi
            </li>
            <li>
              <i class="fab fa-twitter"></i>
              @fajuviAccesorios
            </li>
            <li>
              <i class="fab fa-facebook"></i>
              Fajuvi Accesorios
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="fotter-titulo">Contactanos</li>
            <li>
              <i class="fas fa-mobile-alt"></i>
              +54 9 3517896573
            </li>
            <li>
              <i class="far fa-envelope-open"></i>
              consultas@fajuvi.com.ar
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i>
              Av. Rafael Nuñez 4001, Cba., Argentina
            </li>
          </ul>
        </div>
      </div>
      <div class="caja-copyright">
        <i class="far fa-copyright"></i>
        <p>COPYRIGHT FAJUVI - 2021. TODOS LOS DERECHOS RESERVADOS.</p>
      </div>
    </footer>
  </body>
</html>
