<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    
    <link rel="stylesheet" href="/css/registro.css" />
    <link rel="stylesheet" href="/css/normalizador.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/indice.css" />
    <title>FAJUVI</title>
  </head>
  <body>
    <header>
      <div class="cabecera-promo">
        <p>10% off transferencia bancaria - 3 cuotas sin interés</p>
      </div>
      <div class="cabecera-principal">
        <i class="fas fa-bars"></i>
        <div class="caja-busqueda">
          <input type="text" placeholder="Buscar..." />
          <button><i class="fas fa-search"></i></button>
        </div>
        <div class="cabecera-logo">
          <a href="/indice">
            <img src="img/Logo-Fajuvi.png" alt="Logo Fajuvi" />
          </a>
       </div>
        <div class="cabecera-items">
          <i class="fas fa-search"></i>
          <i class="fas fa-user"></i>
          <a href="acceso">Iniciar Sesión</a>
          <a href="registro">Registrarse</a>
          <i class="fas fa-shopping-cart"></i>
        </div>
      </div>
      <nav>
        <div class="barra-nav">
          <a href="/indice" class="seleccionado">Inicio</a>
          <a href="#">Productos</a>
          <a href="#">Quiénes Somos</a>
          <a href="#">Contacto</a>
        </div>
      </nav>
    </header>

    <main class="registro-main">
        <nav class= "registro-form">
            <div class="form-titulo"> CREÁ TU CUENTA </div>
            
        
            <div class= "box-form">
              <form > 
                <label for="nombre"> NOMBRE </label>
                <div><input type="text" name="nombre" id="nombre" required> </div>
                <br>
                <label class="textos" for="nombre"> APELLIDO </label>
                <div><input type="text" name="nombre" id="nombre" required></div>
                <br>
                <label for="email"> EMAIL </label>
              <div class="barra"><input type="email" name="email" id="email"  required></div>
              <br>
                <div class="contraseña">
                  <div class="contraseña1">
                    <label for="password"> CONTRASEÑA </label>
                    <div ><input type="password" name="password" id="password"  minlength="8"></div>
                  </div>
                  <br>
                  <div class="contraseña2">
                    <label for="password"> REPETÍ CONTRASEÑA </label> 
                    <div ><input type="password" name="password" id="password" minlength="8"></div>
                  </div>
              </div>
              <br>
              
              
              <br>
              
              
            </form>
          </div>
        </nav>
        <br>
        <br>
        <div class="politica"><input type="radio" value= "politica-privacidad" name="politica-privacidad" id="politica-privacidad"> 
            Acepto y entiendo la política de privacidad y uso de cookies. </div>
            <br>
            <br>
        <div><button class= "boton-crear" type="submit"> CREAR CUENTA </button> </div>
        <br>
        <br>
        <div class="registro-inicsesion"> 
            <p> ¿Ya tenés una cuenta? </p>
            <button class= "boton-sesion" type="submit"> INICIÁ SESIÓN  </button> 
        </div>
     
    </main>

    <footer>
      <div class="info-footer">
        <div>
          <ul>
            <li class="fotter-titulo">Navegación</li>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Quiénes Somos</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="fotter-titulo">Redes Sociales</li>
            <li>
              <i class="fab fa-instagram"></i>
              @fajuvi
            </li>
            <li>
              <i class="fab fa-twitter"></i>
              @fajuviAccesorios
            </li>
            <li>
              <i class="fab fa-facebook"></i>
              Fajuvi Accesorios
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="fotter-titulo">Contactanos</li>
            <li>
              <i class="fas fa-mobile-alt"></i>
              +54 9 3517896573
            </li>
            <li>
              <i class="far fa-envelope-open"></i>
              consultas@fajuvi.com.ar
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i>
              Av. Rafael Nuñez 4001, Cba., Argentina
            </li>
          </ul>
        </div>
      </div>
      <div class="caja-copyright">
        <i class="far fa-copyright"></i>
        <p>COPYRIGHT FAJUVI - 2021. TODOS LOS DERECHOS RESERVADOS.</p>
      </div>
    </footer>
  </body>
</html>
