<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>FAJUVI</title>
  </head>
  <body>
    <header>
      <div class="cabecera-nav">
        <p>10% off transferencia bancaria - 3 cuotas sin interés</p>
      </div>
      <div class="menu">
        <i class="fas fa-bars"></i>
        <div class="button-search">
          <input type="text" placeholder="Buscar..." />
          <button><i class="fas fa-search"></i></button>
        </div>
        <div class="logo">
          <img src="img/Logo-Fajuvi.png" alt="Logo Fajuvi" />
        </div>
        <div class="menu-items">
          <i class="fas fa-search"></i>
          <i class="fas fa-user"></i>
          <a href="">Iniciar Sesión</a>
          <a href="">Registrarse</a>
          <i class="fas fa-shopping-cart"></i>
        </div>
      </div>
      <nav>
        <div class="nav-desktop">
          <a href="#" class="seleccionado">Inicio</a>
          <a href="#">Productos</a>
          <a href="#">Quiénes Somos</a>
          <a href="#">Contacto</a>
        </div>
      </nav>
    </header>
    
    <main class="register-main">
        <nav class= "register-form">
            <p class="form-título"> CREÁ TU CUENTA </p>
            <form class= "box-form"> 
                <div> E-MAIL </div> 
                <input type="text" name="email"/>;
                <div> CONTRASEÑA </div>
                <input type="password" name="contraseña"/>
                <div> REETÍ TU CONTRASEÑA </div>
                <input type="password" name="contraseña2"/>
                <div> NOMBRE </div>
                <input type="text" name="nombre"/>;
                <div> APELLIDO </div>
                <input type="text" name="apellido"/>;
            </form>
        </nav>
     
        <div class="register-priv"> 
            <input type="checkbox" id="checkbox" value="first_checkbox"/>  
            Acepto y entiendo la política de privacidad y uso de cookies. 
        </div>
     
        <p class= "register-crear"> <button> CREAR CUENTA </button> </p>
     
        <div class="register-initsesion"> 
            <p> ¿Ya tenés una cuenta? </p>
            <button> INICIÁ SESIÓN  </button> 
        </div>
     
    </main>

    <footer>
      <div class="info-footer">
        <div>
          <ul>
            <li class="footer-tittle">Navegación</li>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Quiénes Somos</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="footer-tittle">Redes Sociales</li>
            <li>
              <i class="fab fa-instagram"></i>
              @fajuvi
            </li>
            <li>
              <i class="fab fa-twitter"></i>
              @fajuviAccesorios
            </li>
            <li>
              <i class="fab fa-facebook"></i>
              Fajuvi Accesorios
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="footer-tittle">Contactanos</li>
            <li>
              <i class="fas fa-mobile-alt"></i>
              +54 9 3517896573
            </li>
            <li>
              <i class="far fa-envelope-open"></i>
              consultas@fajuvi.com.ar
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i>
              Av. Rafael Nuñez 4001, Cba., Argentina
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        <i class="far fa-copyright"></i>
        <p>COPYRIGHT FAJUVI - 2021. TODOS LOS DERECHOS RESERVADOS.</p>
      </div>
    </footer>
  </body>
</html>
