/* Escribir acá css que impacta en todos los dispositivos aplicando la técnica de mobile first */

/*-------- MAIN SECTION---------------*/
.cabecera-items{
    display: none;
}
#carrito_titulo{
    margin: 5px 20px;
    font-family: 'Lato', sans-serif;
    color: #6d6f74;
}

.articulo{
    font-family: 'Lato', sans-serif;
    border-top: solid 1px #D6D6D6;
    margin: 0 10px;
}

.carrito_producto{
    display: flex;
    justify-content: space-between;
    height: auto;
    color: #6d6f74;
}

.carrito_img{
    max-width: 80px;
    padding: 5px;
    display: flex;
    align-items: center;
    
}
.carrito_img img{
    max-width: 100%;
}

.carrito_descripcion{
    flex-grow: 6;
}

.carrito_descripcion h4{
    font-size: 15px;
}

.btn_borrar_prod{
    display: flex;
    flex-direction: row-reverse;
    border: none;
    position: relative;
    bottom: 30px;
    color:#6D6F74;
}
.btn_borrar_prod:hover{
    color:#71A2AE;
 
}
.contador{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    right: 5px;
    bottom: 50px;
    height: 15px;
    color:#71A2AE;
}
.contador-num{
    width: 13px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.sum-res{
    font-size: 12px;
    
}


.total{
    display: flex;
    justify-content: right;
    margin: 0 10px;
    border-top: solid 1px #D6D6D6;
}
.total h2{
    padding: 5px;
    color: #6d6f74;
    border-radius: 10px;
}
.truck{
    color:#6d6f74;
}
.envio{
    font-style: italic;
    color:#6d6f74;
    margin:5px;
}
.envio-barra{ 
    height: 31px;
}
.btn-calcular{
    font-size: 17px;
    padding: 5px 10px;
    border-color: white;
    border-radius: 5px;
    color:white;
    background-color:#6D6F74;
}




@media (min-width: 768px) { /* Escribir acá css que impacta solamente en TABLET y DESKTOP*/
 .carrito-main{
     max-width: 50%;
     margin: auto;
 }
}

@media (min-width: 1280px) { /* Escribir acá css que impacta solamente en DESKTOP */

}
