* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2a2c25;
  font-size: 14px;
}

/* #region  ----------- HEADER ----------- */

.cabecera-promo p {
  background-color: #71a2ae;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  padding: 10px 0px;
  font-size: 12px;
  color: white;
}

.cabecera-principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}

.cabecera-principal .caja-busqueda,
.cabecera-items a,
.barra-nav,
.fas.fa-user {
  display: none;
}

.cabecera-logo img {
  max-width: 100px;
}

.cabecera-principal i,
.cabecera-items i {
  color: #83aeb8;
  font-size: 16px;
  padding: 5px;
}

.cabecera-items i:hover {
  color: #9fbfc8;
  cursor: pointer;
}
/* #endregion ----------- HEADER----------- */

/* #region ----------- FOOTER----------- */

footer {
  background-color: #9fbfc8;
  margin-top: 40px;
}

.info-footer {
  display: flex;
  flex-direction: column;
}

footer ul {
  list-style-type: none;
  padding-left: 20px;
}

footer a {
  text-decoration: none;
  color: #2a2c25;
  text-transform: uppercase;
}

footer a:hover {
  text-decoration: underline;
}

footer li {
  line-height: 2;
}

.fotter-titulo {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

footer li .fab,
footer li .fas,
footer li .far {
  font-size: 20px;
  padding: 5px;
}

.caja-copyright {
  display: flex;
  justify-content: center;
  color: white;
  padding: 20px;
  font-size: 12px;
}

.caja-copyright p {
  margin: 0px;
  padding-left: 5px;
}

/* #endregion ----------- FOOTER----------- */

@media (min-width: 768px) {
  /* #region ----------- HEADER----------- */
  .cabecera-principal .caja-busqueda,
  .cabecera-items a,
  .barra-nav,
  .fas.fa-user {
    display: flex;
  }

  .cabecera-items .fas.fa-search,
  .cabecera-principal .fas.fa-bars {
    display: none;
  }

  .caja-busqueda {
    width: 20%;
    background: white;
    color: #83aeb8;
    cursor: pointer;
  }

  .cabecera-principal input[type='text'],
  .cabecera-principal button {
    padding: 5px;
    border: 1px solid #d6d6d6;
    font-family: 'Roboto', sans-serif;
    background-color: white;
  }

  .cabecera-principal input[type='text'] {
    width: 70%;
    border-right: none;
    outline-color: #83aeb8;
  }

  .cabecera-items {
    display: inline-flex;
    align-items: center;
  }

  .cabecera-items a {
    padding: 5px;
    text-decoration: none;
    color: #2a2c25;
  }

  .cabecera-items a:hover {
    text-decoration: underline;
  }

  .cabecera-items .fas.fa-shopping-cart {
    margin-left: 10px;
  }

  nav {
    margin: 30px 100px;
    display: flex;
    justify-content: center;
  }

  nav a {
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    color: #6d6f74;
    text-transform: uppercase;
  }

  nav a:hover {
    color: #9fbfc8;
  }

  nav .seleccionado {
    border-top: 1px solid #6d6f74;
    border-bottom: 1px solid #6d6f74;
  }
  /* #endregion ----------- HEADER----------- */

  /* #region ----------- FOOTER----------- */
  .info-footer {
    flex-direction: row;
    justify-content: space-around;
  }

  footer ul {
    padding-left: 0px;
  }
  /* #endregion ----------- FOOTER----------- */
}

@media (min-width: 1280px) {
}
