main {
  margin-top: 30px;
}
.registro-form {
  max-width: 90%;
  background-color: #d6d6d6;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-titulo {
  padding: 15px;
  margin-top: 10px;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
  color: #6d6f74;
}

form {
  font-size: 16px;
  color: #6d6f74;
  padding: 15px;
}

form input {
  margin: 10px 0px;
  width: 100%;
  height: 25px;
  border: white;
}

.politica {
  text-align: center;
  font-style: italic;
  font-size: 13px;
  color: #2a2c25;
  margin: 10px 0;
}

.crear-cuenta {
  text-align: center;
}

.boton-crear,
.boton-sesion {
  text-transform: uppercase;
  background-color: #9fbfc8;
  color: white;
  padding: 15px;
  border: none;
  margin: 10px;
  max-width: 80%;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: background-color 0.5s;
}

.boton-crear:hover {
  background-color: #71a2ae;
}

.boton-sesion {
  background-color: #6d6f74;
}

.boton-sesion:hover {
  background-color: #2a2c25;
}

.registro-inicsesion {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  align-items: center;
}

@media (min-width: 768px) {
  .registro-form {
    max-width: 60%;
    box-shadow: 5px -5px #f6f3f3;
  }

  .contraseña {
    display: flex;
    justify-content: space-between;
  }

  /*.contraseña1{
            display:flex;
            flex-direction: column;
        }
        .contraseña2{
            margin-left: 4px;
        margin-right: 0px;}
        
        #password{
            width: 100%;
        }*/
}

@media (min-width: 800px) {
  /* Escribir acá css que impacta solamente en DESKTOP */

  .registro-form {
    max-width: 50%;
    padding: 10px 20px;
    box-shadow: 5px -5px #f6f3f3;
  }
  .contraseña {
    display: flex;
    justify-content: space-between;
  }

  .contraseña2 {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
}
