<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')  %> 
  <body>
    <header>
      <div class="boton-hamburguesa">
        <i class="fas fa-bars"></i>
      </div>
      <div class="cabecera-administrador">
        <i class="fas fa-user"></i>
        <div>Mi cuenta</div>
      </div>
    </header>
    <main>
      <div class="panel-administrador">
        <div class="logo-panel">
          <a href="/">
            <img src="img/Logo-Fajuvi.png" alt="Logo Fajuvi" />
          </a>
        </div>
        <div class="link-panel">
          <i class="fas fa-home"></i>
          <div>Inicio</div>
        </div>
        <div>
          <div class="titulo-panel">Administrar</div>
          <div class="link-panel">
            <i class="fas fa-search-dollar"></i>
            <div>Ventas</div>
          </div>
          <div class="link-panel">
            <i class="fas fa-tags"></i>
            <div>Productos</div>
          </div>
          <div class="link-panel">
            <i class="fas fa-list-ul"></i>
            <div>Lista de Productos</div>
          </div>
          <div class="link-panel">
            <i class="fas fa-user-friends"></i>
            <div>Clientes</div>
          </div>
        </div>
      </div>
      <div class="panel-agregar"></div>
    </main>
    
<%-  include('./partials/footer')  %> 
  </body>
</html>
