<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head')  %> 
    <link rel="stylesheet" href="/css/abmProducto.css" /> 
  </head>
 
  <body>
    <header>
      <div class="boton-hamburguesa">
        <i class="fas fa-bars"></i>
      </div>
      <div class="cabecera-administrador">
        <i class="fas fa-user"></i>
        <div>Mi cuenta</div>
      </div>
    </header>
    <main>
      <div class="panel-administrador">
        <div class="logo-panel">
          <a href="/">
            <img src="img/Logo-Fajuvi.png" alt="Logo Fajuvi" />
          </a>
        </div>
        <div class="link-panel">
          <i class="fas fa-home"></i>
          <div>Inicio</div>
        </div>
        <div>
          <div class="titulo-panel">Administrar</div>
          <div class="link-panel">
            <i class="fas fa-search-dollar"></i>
            <div>Ventas</div>
          </div>
          <div class="link-panel">
            <i class="fas fa-tags"></i>
            <div class="link-productos">
              <a href="/agregar">Agregar Productos</a>
            </div>
          </div>
          <div class="link-panel">
            <i class="fas fa-list-ul"></i>
            <div class="link-productos">
              <a href="/bmProducto">Lista de Productos</a>
            </div>
          </div>
          <div class="link-panel">
            <i class="fas fa-user-friends"></i>
            <div>Clientes</div>
          </div>
        </div>
      </div>
      <div class="panel-abm">        
        <div class="titulo">
          Productos
         </div>
        <div class="tarjeta-producto">
          <div class="check-producto">
            <i class="fas fa-check-square"></i>
          </div>
            <div class="caja-imagen">          
              <a href="/detalle">
                <img src="img/collar.jpg" alt="imagen de collar" />
              </a>
            </div>
            <div class="caja-descripcion">
              <h4 class="producto">Collar Luna</h4>
              <div class="stock">
                <div class="total-stock">1</div>
                <div>en stock</div>
              </div>              
              <p class="precio"><strong>Precio</strong> $5.000</p>
            </div>
            <div class="caja-editar">
              <i class="fas fa-pen"></i>
              <i class="fas fa-trash-alt"></i>
            </div>
        </div> 
        <div class="tarjeta-producto">
          <div class="check-producto">
            <i class="fas fa-square"></i>
          </div>
            <div class="caja-imagen">          
              <a href="/detalle">
                <img src="img/collar3.jpg" alt="imagen de collar" />
              </a>
            </div>
            <div class="caja-descripcion">
              <h4 class="producto">Collar Perlas</h4>
              <div class="stock">
                <div class="total-stock cero">0</div>
                <div>en stock</div>
              </div>              
              <p class="precio"><strong>Precio</strong> $4.500</p>
            </div>
            <div class="caja-editar">
              <i class="fas fa-pen"></i>
              <i class="fas fa-trash-alt"></i>
            </div>
        </div> 
        <div class="tarjeta-producto">
          <div class="check-producto">
            <i class="fas fa-check-square"></i>
          </div>
            <div class="caja-imagen">          
              <a href="/detalle">
                <img src="img/aro.jpg" alt="imagen de aro" />
              </a>
            </div>
            <div class="caja-descripcion">
              <h4 class="producto">Aro Gota</h4>
              <div class="stock">
                <div class="total-stock">2</div>
                <div>en stock</div>
              </div>              
              <p class="precio"><strong>Precio</strong> $2.550</p>
            </div>
            <div class="caja-editar">
              <i class="fas fa-pen"></i>
              <i class="fas fa-trash-alt"></i>
            </div>
        </div>
        <div class="tarjeta-producto">
          <div class="check-producto">
            <i class="fas fa-check-square"></i>
          </div>
            <div class="caja-imagen">          
              <a href="/detalle">
                <img src="img/pulsera.jpg" alt="imagen de pulsera" />
              </a>
            </div>
            <div class="caja-descripcion">
              <h4 class="producto">Pulsera Calia</h4>
              <div class="stock">
                <div class="total-stock cero">0</div>
                <div>en stock</div>
              </div>              
              <p class="precio"><strong>Precio</strong> $1.500</p>
            </div>
            <div class="caja-editar">
              <i class="fas fa-pen"></i>
              <i class="fas fa-trash-alt"></i>
            </div>
        </div>
        <div class="tarjeta-producto">
          <div class="check-producto">
            <i class="fas fa-square"></i>
          </div>
            <div class="caja-imagen">          
              <a href="/detalle">
                <img src="img/cinto.jpg" alt="imagen de cinto" />
              </a>
            </div>
            <div class="caja-descripcion">
              <h4 class="producto">Cinto Black</h4>
              <div class="stock">
                <div class="total-stock">4</div>
                <div>en stock</div>
              </div>              
              <p class="precio"><strong>Precio</strong> $4.000</p>
            </div>
            <div class="caja-editar">
              <i class="fas fa-pen"></i>
              <i class="fas fa-trash-alt"></i>
            </div>
        </div>            
      </div>
    </main>    
<%-  include('./partials/footer')  %> 
  </body>
</html>
