<!DOCTYPE html>
<html lang="en">
 
  <head>
    <%- include('./partials/head')  %> 
    <link rel="stylesheet" href="/css/carritoProductos.css" /> 

  </head>

  <body>
    
    <%-  include('./partials/header')  %> 

    <main class="carrito-main">
        <section class="posicion">
          <hr />
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><i class="fas fa-chevron-right"></i></li>
            <li><a href="/products/carritoProductos">Mi carrito</a></li>
          </ul>
        </section>
        <section class="carrito-section">
          <h2 id="carrito_titulo"> Mi carrito</h2>   
          
          <article class="articulo">  
            <div class="carrito_img">
               <a href="/products/1"><img  src="img/collar.jpg" /></a>
            </div>  

            <div class="carrito_descripcion">
               <h4>Collar Luna</h4>
               <p >6 Cuotas sin interés de $833,33</p>
            </div>

            <div class="carrito_precio">
              <h3>$5.000</h3>
              <div class="contador">
                <div class="sum-res"> <i class="fas fa-plus-circle"> </i></div>
                <div class="contador-num">1</div>
                <div class="sum-res"> <i class="fas fa-minus-circle"> </i></div>
              </div>
              <div class="btn_borrar_prod">
                <i class="fas fa-trash-alt"></i>
              </div> 
            </div>   
          </article>

 
        </section>


        <section>
          <div class="total">
            <h2>Total: $13.500 </h2>
          </div>
        </section>
        <section>
          <div class="envio">
            <input class="envio-barra" type="number" name="" placeholder="Tu codigo postal">
            <button class="btn-calcular">CALCULAR</button>
              <h4><i class="truck fas fa-truck "></i> Envio gratis superando los $6.000</h4>
          </div>
        </section>

        
    </main>
   
    <%-  include('./partials/footer')  %> 

  </body>
</html>
