<!DOCTYPE html>
<html lang="en">  
  <head>
    <%- include('./partials/head')  %>
    <link rel="stylesheet" href="/css/error.css" /> 
  </head>
  <body>
    <%-  include('./partials/header')  %> 
    <main>      
        <div class="error"><%= mensaje %></div>
    </main>
  
    <%-  include('./partials/footer')  %> 
  </body>
</html>
