<!DOCTYPE html>
<html lang="en">  
  <head>
    <%- include('./partials/head')  %>
    <link rel="stylesheet" href="/css/registro.css" /> 
  </head>
  <body>
    <%-  include('./partials/header')  %> 

    <main>
      <section class="posicion">
        <hr />
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><i class="fas fa-chevron-right"></i></li>
          <li><a href="/registro">Registrarse</a></li>
        </ul>
      </section>
      <section class="registro">
        <form action="/registro" method="POST" class="formulario-registro">
          <div class="caja-registro">
            <p>Creá tu cuenta</p>
            <label for="nombre">Nombre</label>             
              <div>
                <input type="text" name="nombre" id="nombre" required />
              </div>             
              <label for="nombre">Apellido</label>
              <div>
                <input type="text" name="nombre" id="nombre" required />
              </div>
              <label for="email">Email</label>
              <div>
                <input type="email" name="email" id="email" required />
              </div>
              <div class="contraseña">
                <div class="contraseña1">
                  <label for="password">CONTRASEÑA</label>
                  <div>
                    <input
                      type="password"
                      name="password"
                      id="password"
                      minlength="8"
                    />
                  </div>
                </div>
                <div class="contraseña2">
                  <label for="password">REPETÍ CONTRASEÑA</label>
                  <div>
                    <input
                      type="password"
                      name="password"
                      id="password"
                      minlength="8"
                    />
                  </div>
                </div>
              </div> 
          </div>
          <div class="politica">
            <input class="radioPolitica"
              type="radio"
              value="politica-privacidad"
              name="politica-privacidad"
              id="politica-privacidad"
            />
            <label for="politica-privacidad"> Acepto y entiendo la política de privacidad y uso de cookies.</label>           
          </div>
          <div class="boton-iniciar">
            <button class="boton-crear" type="submit">Crear cuenta</button>
          </div>
        </form>
      </section>
      <div class="registro-inicSesion">
        <a href="/acceso">¿Ya tenés una cuenta?</a>        
        <button class="boton-sesion" type="submit">Iniciá Sesión</button>
      </div>
    </main>     
    <%-  include('./partials/footer')  %> 
  </body>
</html>
