<footer>
    <div class="info-footer">
      <div>
        <ul>
          <li class="fotter-titulo">Navegación</li>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Quiénes Somos</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="fotter-titulo">Redes Sociales</li>
          <li>
            <i class="fab fa-instagram"></i>
            @fajuvi
          </li>
          <li>
            <i class="fab fa-twitter"></i>
            @fajuviAccesorios
          </li>
          <li>
            <i class="fab fa-facebook"></i>
            Fajuvi Accesorios
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="fotter-titulo">Contactanos</li>
          <li>
            <i class="fas fa-mobile-alt"></i>
            +54 9 3517896573
          </li>
          <li>
            <i class="far fa-envelope-open"></i>
            consultas@fajuvi.com.ar
          </li>
          <li>
            <i class="fas fa-map-marker-alt"></i>
            Av. Rafael Nuñez 4001, Cba., Argentina
          </li>
        </ul>
      </div>
    </div>
    <div class="caja-copyright">
      <i class="far fa-copyright"></i>
      <p>COPYRIGHT FAJUVI - 2021. TODOS LOS DERECHOS RESERVADOS.</p>
    </div>
  </footer>