<header>
    <div class="cabecera-promo">
      <p>10% off transferencia bancaria - 3 cuotas sin interés</p>
    </div>
    <div class="cabecera-principal">
      <i class="fas fa-bars"></i>
      <div class="caja-iconos">
        <form class="caja-busqueda" action="#"  method="GET">
          <input type="text" placeholder="Buscar..." />
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <a href="/registro" class="iconoRegistro"><i class="fas fa-user-alt"></i></a>
      </div>
    </div>
    <nav class="barra-nav">
        <a href="/acceso"><i class="fas fa-sign-in-alt"></i>Ingresar</a>
        <a href="/productos"><i class="fas fa-list"></i>Productos</a>
        <a href="/carritoProductos"><i class="fas fa-shopping-cart"></i>Carrito</a>
        <a class="escritorio" href="#">Quiénes Somos</a>
        <a class="escritorio" href="#">Contacto</a>     
    </nav>
    <div class="cabecera-logo">
      <a href="/">
        <img src="img/Logo-Fajuvi.png" alt="Logo Fajuvi" />
      </a>
    </div>  
  </header>