<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./partials/head')  %> 
    <link rel="stylesheet" href="/css/perfilUsuario.css" />
  </head>

  <body>
    <%-  include('./partials/header')  %> 
    <main>
      <section class="posicion">
        <hr />
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><i class="fas fa-chevron-right"></i></li>
          <li><a href="/user/profile">Mi cuenta</a></li>
        </ul>
      </section>
      <h3 class="titulo-destacado"> Mi Cuenta</h3>
      <div class="box-datosUsuario">
        <div class="imagen-usuario">
            <img src="/img/perfil.jpg" alt="">
        </div>
        <div class="caja-datos">
            <div class="titulo">Mis datos</div>
            <div><i class="fas fa-user"></i>María Lopez</div>
            <div><i class="fas fa-envelope"></i>mlopez@gmail.com</div>            
        </div> 
      </div> 
    </main>
    <%-  include('./partials/footer')  %> 
  </body>
</html>